<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center; font-family: Arial, sans-serif;">
            Do not worry, your password is under control!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 25px; font-family: Arial, sans-serif;">
                You need to restore password, please click on the button below:
            </p>
            <a href="{{frontUrl}}/reset-password?actionToken={{actionToken}}" target="_blank"
                style="display: inline-block; padding: 12px 24px; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 5px; font-weight: bold; font-family: Arial, sans-serif;">
                RESTORE PASSWORD
            </a>
        </td>
    </tr>
</table>
