<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Верифікація успішна</title>
  <script>
    let timeLeft = 5;

    const countdownTimer = setInterval(function() {
      document.getElementById("countdown").innerHTML = timeLeft;
      timeLeft -= 1;

      if (timeLeft < 0) {
        clearInterval(countdownTimer);
        window.close();
      }
    }, 1000);
  </script>
</head>
<body>
<h1 style="text-align: center; color: green">Пошту успішно підтверджено! <br>можно закрити сторінку</h1>
<p style="text-align: center;">
  Сторінка закриється автоматично через <span id="countdown">5</span> секунд.
</p>
</body>
</html>
