<table style="width: 100%; padding: 45px 35px; box-sizing: border-box; background-color: #e2baba;">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, Вітаємо!
        </td>
    </tr>
    <tr>
        <td style="text-align: center; font-size: 20px;">
            <p style="margin: 17px 0 0;">
                Натисніть посилання нижче для активації.
            </p>
            <a style="text-decoration: none;" href="{{verifyUrl}}/verify?token={{actionToken}}">Підтвердити</a>
        </td>
    </tr>
</table>
